.todo-card {
  background-color: rgb(202, 207, 133);
  width: 40%;
  height: 600px;
  overflow-y: scroll;
  margin: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 5px 10px inset;
  padding: 1rem 1rem;
  display: inline-block;
  text-align: center;
}
